<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocShashtra_AI</title>
    
</head>
<body>
    <div class="header">
        <h1>Welcome to DocShashtra_AI</h1>
        <a href="/logout">Logout</a>
            <button class="logout-btn">Logout</button>
        </a>
    </div>

    <div class="container">

        <div class="card">
            <h2>Upload your document</h2>
            
            <form action="/upload" method="post" enctype="multipart/form-data">
            
                <input type="file" name="pdf">
            <br>

            <button type="submit">Upload PDF</button>

            

        </form>
        </div>



        <div class="card">
            <h2>Ask a question about your document</h2>
            <form action="/ask" method="post">
                <input type="text" name="question" required placeholder="Ask something from the document">
                <br>
                <button type="submit">Ask</button>
            </form>

            <div class="answer-box">
                <p>Answer will be displayed here...</p>
            </div>
        
        </div>
    </div>


</body>
</html>