<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



</head>
<body>


    <div class="card">
    <h2>Create Account</h2>

    <form method="post">
        <input type="text" name="name" placeholder="Full Name">
        <br>
        <input type="text" name="username" placeholder="Username">
        <br>

        <input type="password" id="password" name="password" placeholder="Password (max 6 characters)" required>
        <br>
        <select name="designation">

        <option value="">Select Designation</option>
        <option>Student</option>
        <option>Working Professional</option>
        <option>Researcher</option>
        <option>Other</option>


        </select>
        <br>
        <br>
        <button type="submit">Create Account</button>

        </form>

        <div class="footer">
        <p>Already have an account?</p>
        <a href="/login">Login</a>

        </div>

    </div>



    
</body>
</html>